<section class="area-2">
    <div class="content-wrapper">
        <h2 class="heading-forecast">Want to get a daily forecast?</h2>
        <form action="/submit-email" method="post">
            <input class="submit-text" type="email" id="email" name="email" onfocus="this.value=''" value="Enter your e-mailaddress" required>
            <button class="submit-button" type="submit">Submit</button>
        </form>
    </div>
</section>