<nav>
    <img src="./assets/logo-main.svg" alt="Qatar Museums logo" width="200" height="50">
    <ul class="nav-list">
        <li class="nav-item">STORIES</li>
        <li class="nav-item">WHAT'S ON</li>
        <li class="nav-item">VISIT</li>
        <li class="nav-item nav-active">TICKETS</li>
        <li class="nav-item">VENUES</li>
        <li class="nav-item">LANGUAGE</li>
        <li class="nav-item"></li>
    </ul>
</nav>