<nav>
    <img src="./assets/logo-main.svg" alt="Qatar Museums logo" width="150" height="50">
    <ul class="nav-list">
        <li class="nav-item">
            <span>قصصنا</span>
            <p>STORIES</p>
        </li>
        <li class="nav-item">
            <span>الفعاليات</span>
            <p>WHAT'S ON</p>
        </li>
        <li class="nav-item">
            <span>المقتنيات</span>
            <p>COLLECTION</p>
        </li>
        <li class="nav-item">
            <span>زيارة</span>
            <p>VISIT</p>
        </li>
        <li class="nav-item btn-secondary">
            <p>TICKETS</p>
        </li>
        <li class="nav-item">
            <p>MEMBERS</p>
        </li>
        <li class="nav-item">
            <p>VENUES</p>
        </li>
        <li class="nav-item">
            <button class="btn-language">العربية</button>
            <span class="tool-tip hidden">Change language</span>
        </li>
        <li class="nav-item" aria-label="menu">
            <button></button>
        </li>
    </ul>
</nav>