<nav>
    <img src="./assets/logo-main.svg" alt="Qatar Museums logo" width="150" height="50">
    <ul class="nav-list">
        <li class="nav-item">
            <a dir="rtl" href="#">قــصــصــنــا</a>
            <a dir="ltr" href="#">STORIES</a>
        </li>
        <li class="nav-item">
            <a dir="rtl" href="#">الـفـعــالــيــات</a>
            <a dir="ltr" href="#">WHAT'S ON</a>
        </li>
        <li class="nav-item">
            <a dir="rtl" href="/">المقتنيات</a>
            <a dir="ltr" href="/">COLLECTION</a>
        </li>
        <li class="nav-item">
            <a dir="rtl" href="#">زيـــارة</a>
            <a dir="ltr" href="#">VISIT</a>
        </li>
        <li class="nav-item">
            <a dir="ltr" href="#" class="btn-secondary">TICKETS</a>
        </li>
        <li class="nav-item">
            <a dir="ltr" href="#">MEMBERS</a>
        </li>
        <li class="nav-item">
            <a dir="ltr" href="#">VENUES</a>
        </li>
        <li class="nav-item">
            <button class="btn-language" dir="rtl">العربية</button>
            <span class="tool-tip hidden">Change language</span>
        </li>
        <li class="nav-item" aria-label="menu">
            <button class="btn-menu">MENU</button>
        </li>
    </ul>
</nav>