<%- include("./partials/head") %>
<div class="card-container">
    <div class="card">
        <h1 class="card-heading">You have successfully subscribed for the newsletter with</h1>
        <p class="card-description"><%= e %></p>
    </div>
</div>
<%- include("./partials/foot") %>