@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
    --black: #000000;
    --white: #ffffff;
    --rose: #f0ebfe;
    --purple: #5115f7;
    --c400: #9d9d9d;
    --c300: #c4c4c4;
    --c200: #d9d9d9;
    --c150: #e5e5e5;
    --c100: #e9e9e9;
    --c50: #f5f5f5;
    --c25: #f2f2f2;

    --heading-1: 72px;
    --heading-2: 60px;
    --heading-3: 48px;
    --heading-4: 36px;
    --heading-5: 24px;
    --heading-6: 18px;

    --wrapper-width: 1340;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    list-style-type: none;
}

.container {
    grid-template-columns: 1fr;
    grid-template-areas:
        "area-1"
        "area-2"
        "area-3"
        "footer";
}

.content-wrapper {
    width: 100%;
}

.footer {
    grid-area: footer;
    background-color: var(--black);
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .content-wrapper {
        padding: 3.438rem;
    }
}

@media only screen and (min-width: 1100px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "area-1 area-3"
            "area-2 area-3"
            "footer footer";
    }

    .content-wrapper {
        max-width: calc((var(--wrapper-width) / 2) * 1px);
    }
}
