@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --white: #ffffff;
    --light-grey: #969696;
    --dark-grey: #464646;
    --black: #000000;
    --yellow: #f9ff1e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    line-height: 1.5;
    font-size: 16px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body[lang="ar"] {
    direction: rtl;
    text-align: right;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

/* ============================================= */
/* Buttons */
/* ============================================= */
.btn-primary {
    background-color: var(--dark-grey);
    color: var(--white);
    padding: 1rem;
    outline: none;
    text-decoration: none;
    border: 0.1rem solid var(--dark-grey);
    font-weight: 600;
    font-size: 1rem;
    transition: 0.2s ease-in;
}

.btn-secondary {
    background-color: var(--yellow);
    color: var(--black);
    padding: 1rem;
    outline: none;
    text-decoration: none;
    border: 0.1rem solid var(--black);
    font-weight: 600;
    font-size: 1rem;
    transition: 0.2s ease-in;
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: var(--black);
    color: var(--white);
    border: 0.1rem solid var(--black);
}

.btn-tertiary {
    background-color: var(--dark-grey);
    color: var(--white);
    padding: 1rem;
    outline: none;
    text-decoration: none;
    border: 0.1rem solid var(--dark-grey);
    font-weight: 600;
    font-size: 1rem;
    transition: 0.2s ease-in;
}

.btn-tertiary:hover {
    background-color: var(--white);
    color: var(--black);
    border: 0.1rem solid var(--black);
}

.btn-menu {
    font-size: 1rem;
    font-weight: 600;
}
/* ============================================= */
/* Navigation */
/* ============================================= */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 0.1rem 1rem;
    border-bottom: 0.1rem solid var(--black);
    width: 100%;
    flex: 1;
}

nav .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-weight: 600;
}

nav .nav-list .nav-item {
    padding: 0.5rem;
    text-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    height: 100%;
}

nav .nav-list .nav-item:hover {
    text-decoration: underline;
}

nav .nav-list .nav-item a, nav .nav-list .nav-item button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--black);
}

nav .nav-list .nav-item .btn-secondary:hover {
    color: var(--white);
    text-decoration: none;
}

nav .nav-list .nav-item .btn-language:hover {
    text-decoration: underline;
}

nav .nav-list .nav-item:nth-child(1),
.nav-list .nav-item:nth-child(2),
.nav-list .nav-item:nth-child(3),
.nav-list .nav-item:nth-child(4),
.nav-list .nav-item:nth-child(6),
.nav-list .nav-item:nth-child(7),
.nav-list .nav-item:nth-child(8) {
    display: none;
}

nav .nav-list .nav-item:last-child {
    margin-right: 0;
}

nav .nav-list .nav-item:nth-child(8) button {
    display: inline-block;
    background: none;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

nav .nav-list .nav-item:last-child button {
    background: none;
    outline: none;
    border: none;
    overflow: hidden;
    cursor: pointer;
}

nav .nav-list .nav-item:nth-child(6) a::before {
    display: flex;
    flex-direction: column;
    justify-content: center;
    content: url('../assets/icon-member.svg');
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

nav .nav-list .nav-item:nth-child(7) a::before {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    content: url('../assets/icon-location.svg');
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

nav .nav-list .nav-item:last-child button::before {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    content: url('../assets/icon-menu.svg');
    width: 0.5rem;
    height: 1rem;
    margin-right: 0.5rem;
}

nav .nav-list .nav-item:nth-child(8) {
    position: relative;
}

.tool-tip {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--white);
    padding: 0.5rem;
    position: absolute;
    bottom: -3.5rem;
    right: 50%;
    transform: translateX(50%);
    z-index: 5;
    transition: 0.2s ease-in;
}
/* ============================================= */
/* Section Canvas */
/* ============================================= */
.section-canvas {
    flex: 8;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: scroll;
}

.section-canvas form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.section-canvas form button {
    width: 100%;
}

.canvas-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    list-style-type: "";
    width: 200%;
}

.canvas-item {
    background-color: var(--dark-grey);
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    animation-name: itemPop;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    transition: 0.2s ease-in;
}

.canvas-item:hover {
    transform: scale(1.1);
    border: 0.1rem solid var(--yellow);
    z-index: 10;
}

.canvas-item picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-tooltip {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--white);
    padding: 0.5rem;
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transition: 0.2s ease-in;
}

/* ============================================= */
/* Section Filter */
/* ============================================= */
.section-filter {
    width: 100%;
    flex: 1;
    background-color: var(--white);
}

.section-filter .filter-list {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    overflow-x: scroll;
    list-style-type: none;
    padding: 1rem;
}

.section-filter .filter-list .filter-item {
    flex: 1;
    margin-right: 1rem;
    text-wrap: nowrap;
    text-align: center;
}

.section-filter .filter-list .filter-item:last-child {
    margin-right: 0;
}

.search-box {
    position: relative;
    padding: 1rem;
    border-top: 0.1rem solid var(--dark-grey);
}

.search-box input[type=text] {
    width: 100%;
    outline: none;
    background: none;
    border: none;
    border-bottom: 0.1rem solid var(--dark-grey);
}

.section-filter div button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    outline: none;
    border: none;
}

.section-filter div button::before {
    content: url('../assets/icon-search.svg');
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

.arabic .section-filter div button {
    right: auto;
    left: 1rem;
}

/* ============================================= */
/* Footer */
/* ============================================= */
footer {
    background-color: var(--white);
    border-top: 0.1rem solid var(--black);
    width: 100%;
}

.footer-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-bottom: 0.1rem solid var(--black);
}

.footer-bottom {
    width: 100%;
    padding: 2rem 1rem;
}

.footer-top .menu-list {
    list-style-type: "";
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 1rem;
}

.menu-list .menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.menu-list .menu-item a {
    font-weight: 600;
    text-decoration: none;
    color: var(--black);
    text-wrap: nowrap;
}

.menu-list .menu-item:hover {
    text-decoration: underline;
}

.footer-top .footer-section {
    flex: 1;
    border-bottom: 0.1rem solid var(--black);
    width: 100%;
    height: 100%;
}

.footer-top .footer-section:last-child {
    border-right: none;
    border-bottom: none;
}

.footer-top .footer-section:nth-child(1) {
    flex: 2;
}

.footer-list {
    list-style-type: "";
    margin-top: 1rem;
}

.footer-list .footer-item {
    width: 100%;
}

.footer-list .footer-item a {
    color: var(--black);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.footer-list .footer-item a:hover {
    text-decoration: underline;
}

.footer-top .footer-section:nth-child(2) {
    font-size: 1.5rem;
}

.footer-top .footer-section:last-child .footer-list .footer-item:nth-child(1) a::before {
    content: url('../assets/icon-instagram.svg');
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

.footer-top .footer-section:last-child .footer-list .footer-item:nth-child(2) a::before {
    content: url('../assets/icon-facebook.svg');
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

.footer-top .footer-section:last-child .footer-list .footer-item:nth-child(3) a::before {
    content: url('../assets/icon-youtube.svg');
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

/* ============================================= */
/* Scrollbar */
/* ============================================= */
::-webkit-scrollbar {
    width: 0.75rem;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background: var(--yellow);
    border: 0.1rem solid var(--black);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--black);
}
/* ============================================= */
/* Keyframes */
/* ============================================= */
@keyframes itemPop {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}
/* ============================================= */
/* Media Query */
/* ============================================= */
@media only screen and (min-width: 1120px) {
    nav .nav-list .nav-item:nth-child(1),
    .nav-list .nav-item:nth-child(2),
    .nav-list .nav-item:nth-child(3),
    .nav-list .nav-item:nth-child(4),
    .nav-list .nav-item:nth-child(6),
    .nav-list .nav-item:nth-child(7),
    .nav-list .nav-item:nth-child(8) {
        display: block;
    }
}
@media only screen and (min-width: 768px) {
    .canvas-list {
        grid-template-columns: repeat(5, 1fr);
    }

    .canvas-item {
        height: 10rem;
    }

    .footer-top {
        flex-direction: row;
        height: 30rem;
    }

    .footer-top .footer-section {
        border-bottom: none;
        border-right: 0.1rem solid var(--black);
    }
}