:root {
    --white: #ffffff;
    --light-grey: #969696;
    --dark-grey: #464646;
    --black: #000000;
    --yellow: #f9ff1e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    line-height: 1.5;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body[lang="ar"] {
    direction: rtl;
    text-align: right;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* ============================================= */
/* Buttons */
/* ============================================= */
.btn-primary {
    background-color: var(--dark-grey);
    color: var(--white);
    padding: 1rem;
    outline: none;
    text-decoration: none;
    border: 0.1rem solid var(--dark-grey);
}

.btn-secondary {
    background-color: var(--yellow);
    color: var(--black);
    padding: 1rem;
    outline: none;
    text-decoration: none;
    border: 0.1rem solid var(--black);
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: var(--black);
    color: var(--white);
    border: 0.1rem solid var(--black);
}

.btn-tertiary {
    background-color: var(--dark-grey);
    color: var(--white);
    padding: 1rem;
    outline: none;
    text-decoration: none;
    border: 0.1rem solid var(--dark-grey);
}

.btn-tertiary:hover {
    background-color: var(--white);
    color: var(--black);
    border: 0.1rem solid var(--black);
}
/* ============================================= */
/* Navigation */
/* ============================================= */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 0.1rem;
    border-bottom: 0.1rem solid var(--black);
    width: 100%;
    flex: 1;
}

nav .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-weight: 600;
}

nav .nav-list .nav-item {
    padding: 0.5rem;
    text-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    height: 100%;
}

nav .nav-list .nav-item p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav .nav-list .nav-item:nth-child(1),
.nav-list .nav-item:nth-child(2),
.nav-list .nav-item:nth-child(3),
.nav-list .nav-item:nth-child(4),
.nav-list .nav-item:nth-child(6),
.nav-list .nav-item:nth-child(7),
.nav-list .nav-item:nth-child(8) {
    display: none;
}

nav .nav-list .nav-item:nth-child(8) button {
    display: inline-block;
    background: none;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}

nav .nav-list .nav-item:last-child button {
    background: none;
    outline: none;
    border: none;
    overflow: hidden;
}

nav .nav-list .nav-item:nth-child(6) p::before {
    display: inline-block;
    content: url('../assets/icon-member.svg');
    width: 1rem;
    height: 2rem;
    margin-right: 0.5rem;
}

nav .nav-list .nav-item:nth-child(7) p::before {
    display: inline-block;
    content: url('../assets/icon-location.svg');
    width: 1rem;
    height: 2rem;
    margin-right: 0.5rem;
}

nav .nav-list .nav-item:last-child button::before {
    display: inline-block;
    content: url('../assets/icon-menu.svg');
    width: 1.5rem;
    height: 1.5rem;
}

/* ============================================= */
/* Section Canvas */
/* ============================================= */
.section-canvas {
    flex: 8;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: scroll;
}

.section-canvas form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.section-canvas form button {
    width: 100%;
}

.canvas-list {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    width: 100%;
    overflow-y: scroll;
}

.canvas-item {
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-color: var(--dark-grey);
    flex: 1 0 calc(33.3333% - 1rem);
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.canvas-item:nth-child(3n) {
    margin-right: 0;
}

.canvas-item picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ============================================= */
/* Section Filter */
/* ============================================= */
.section-filter {
    width: 100%;
    flex: 1;
    background-color: var(--white);
}

.section-filter .filter-list {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    overflow-x: scroll;
    list-style-type: none;
    padding: 0 1rem 1rem 1rem;
}

.section-filter .filter-list .filter-item {
    flex: 1;
    margin-right: 1rem;
    text-wrap: nowrap;
}

.section-filter .filter-list .filter-item:last-child {
    margin-right: 0;
}

.search-box {
    position: relative;
    padding: 1rem;
    border-top: 0.1rem solid var(--dark-grey);
}

.search-box input[type=text] {
    width: 100%;
    outline: none;
    background: none;
    border: none;
    border-bottom: 0.1rem solid var(--dark-grey);
}

.section-filter div button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    outline: none;
    border: none;
}

.section-filter div button::before {
    content: url('../assets/icon-search.svg');
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

.arabic .section-filter div button {
    right: auto;
    left: 1rem;
}

/* ============================================= */
/* Media Query */
/* ============================================= */
@media only screen and (min-width: 768px) {
    nav .nav-list .nav-item:nth-child(1),
    .nav-list .nav-item:nth-child(2),
    .nav-list .nav-item:nth-child(3),
    .nav-list .nav-item:nth-child(4),
    .nav-list .nav-item:nth-child(6),
    .nav-list .nav-item:nth-child(7),
    .nav-list .nav-item:nth-child(8) {
        display: block;
    }

    .canvas-item {
        flex: 1 0 calc(20% - 1rem);
    }
}